PSAwardReport/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PSAwardReport/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PSAwardReport/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PSAwardReport/obj/Debug/PSAwardReport.csproj.FileListAbsolute.txt
PSAwardReport/obj/Debug/PSAwardReport.Properties.Resources.resources
PSAwardReport/obj/Debug/PSAwardReport.Form.PrintAwardProgressScoreReportForm.resources
PSAwardReport/bin/Debug/PSAwardReport.pdb
PSAwardReport/bin/Debug/PSAwardReport.dll
PSAwardReport/obj/Debug/CoreCompileInputs.cache
PSAwardReport/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
PSAwardReport/obj/Debug/PSAwardReport.pdb
PSAwardReport/obj/Debug/PSAwardReport.dll
PSAwardReport/obj/Debug/PSAwardReport.csprojResolveAssemblyReference.cache
PSAwardReport/obj/Debug/PSAwardReport.csproj.GenerateResource.Cache
PSAwardReport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PSAwardReport/obj/Debug/DesignTimeResolveAssemblyReferences.cache
PSAwardReport/obj/Debug/PSAwardReport.Form.PrintAwardSemesterScoreReportForm.resources
